.result {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 2px solid var(--background-color-1);
  font-size: 30px;
}

.result div {
  flex: 1;
  text-align: center;
}
