.result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.result div {
    width: 200px;
}