<app-header></app-header>
<div class="settings-container">
    <div class="settings-title">Settings</div>
    <div class="settings-label">
        Genre
        <select class="settings-select">
            <option disabled class="settings-option">Select Genre</option>
        </select>
    </div>
    <div class="settings-label">
        Difficulty
        <select class="settings-select">
            <option disabled class="settings-option">Select Difficulty</option>
        </select>
    </div>
    <div class="settings-label">
        <label>Rounds</label>
        <input class="increment-input" type="number" min="0" max="10"/>
    </div>
</div>