<div class="header-container">
  <div *ngIf="currentUrl !== '/'" class="home-link" (click)="navigate('')">
    <img class="home-icon" src="../../../assets/home.svg" />
    Home
  </div>
  <!-- delete ngIf and (click) before pushing -->
  <div
    class="header-title"
    *ngIf="currentUrl !== '/leaderboard'"
    (click)="navigate('results')"
  >
    Name That Tune
  </div>
  <div
    *ngIf="currentUrl !== '/leaderboard'"
    class="leaderboard-link"
    (click)="navigate('leaderboard')"
  >
    Leaderboard
    <img class="leaderboard-icon" src="../../../assets/crown.svg" />
  </div>
</div>
