<div class="header-container">
  <div *ngIf="currentUrl !== '/'" class="home-link" (click)="navigate('')">
    <div class="home-icon-container">
      <div class="home-icon" role="img" aria-label="Leaderboard Icon"></div>
    </div>
  </div>
  <div class="header-title">Name That Tune</div>
  <div
    *ngIf="currentUrl !== '/leaderboard'"
    class="leaderboard-link"
    (click)="navigate('leaderboard')"
  >
    <div class="leaderboard-icon-container">
      <div
        class="leaderboard-icon"
        role="img"
        aria-label="Leaderboard Icon"
      ></div>
    </div>
  </div>
</div>
