/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    to bottom right,
    #3fe682,
    rgb(255, 255, 81)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

html body {
  margin: 0;
}

:root {
  /* ------- colors ------- */
  --primary-color: #3de881;
  --secondary-color: #a5ffa8;
  --button-color: #007bff;
  --cyan: #007bff;

  /* ---------------------- */

  /* ------- fonts ------- */
  --font-family: sans-serif;
}
