<app-header></app-header>
<div class="leaderboard-container">
    <div class="leaderboard-title">
        <img src="../../../assets/crown.svg"/>
        <div>Leaderboard</div>
        <img src="../../../assets/crown.svg"/>
    </div>
    <div class="leaderboard-columns">
        <div>Rank</div>
        <div>Score</div>
        <div>Name</div>
    </div>
    <div class="leaderboard-results">
        <div class="result">
            <div>1</div>
            <div>10,000</div>
            <div>player1</div>
        </div>
    </div>
</div>