.leaderboard-title {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 96px;
  color: var(--text-color-1);
  font-weight: 800;
  text-shadow: 0px 4px 4px var(--shadow-color);
}

.crown-icon {
  width: 100px;
  height: 100px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  font-family: sans-serif;
  background-color: var(--background-color-2);
  margin: 0 auto;
  width: 80%;
  color: var(--text-color-3);
  font-size: 40px;
  font-weight: 750;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 200px;
}

.leaderboard-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--text-color-3);
  gap: 5px;
  padding: 5px;
  border-radius: 15px;
}

.leaderboard-tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--button-color-2);
  width: 100%;
  text-align: center;
}

.leaderboard-tabs div:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.leaderboard-tabs div:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leaderboard-tab:hover {
  background-color: var(--button-color-1);
}

.selected-tab {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  background-color: var(--button-color-1);
}

.leaderboard-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid var(--background-color-1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.leaderboard-results {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari, etc.) */
.leaderboard-results::-webkit-scrollbar {
  width: 10px;
}

.leaderboard-results::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.leaderboard-results::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.leaderboard-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar styles for Firefox */
.leaderboard-results {
  scrollbar-width: thin;
  scrollbar-color: var(--text-color-3) var(--background-color-2);
}
